body,html{
    font-family:'Microsoft YaHei','Hiragino Sans GB',Helvetica,Arial,'Lucida Grande',sans-serif;
}
.logo{
    height:50px;
    width:auto;
    margin-top: 0;
}

nav li{
    margin-left: 30px;
}

.login{
    position: relative;
    float: right;
}
.weather{
    margin:15px;
    color: red;
    word-spacing: 5px;
}
.content{
    padding-top:100px;
}
.food_pic{
    height:100px;
    width:auto;
    margin: 10px;
}
.comment{
    margin-top: 40px;
    margin-bottom: 10px;
    margin-right:0;
}
.menu_title{
    width:900px;
    margin-left:auto;
    margin-right:auto;
}

.menu_items {
    margin-top: 20px;
}

.comment_form {
    resize: none;
}

.well {
    margin-bottom: 0;
}

.user-info {
    margin: 15px;
    color: black;
    word-spacing: 5px;
}

.tc-usr {
    margin: 15px;
    font-size: 15px;
    color: red;
}

.tc-content {
    margin: 15px;
    font-size: 15px;
    color: black;
}

.tc-time {
    margin: 15px;
    font-size: 10px;
    color: gray;
}
.tc-submit {
    position: absolute;
    margin-top:40px;
    width:80px;
    height:80px;
    border-radius:100px;
}
.order_submit,.manage_submit,.add_submit,.delete_submit{
    position: fixed;
    margin-top:200px;
    width:60px;
    height:60px;
    border-radius:100px;
}
.tc-input {
    min-height: 120px;

}

.footer{
    text-align: center;
}
.exit_manage{
    position: fixed;
    margin-top:200px;
    width:60px;
    height:60px;
    border-radius:100px;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer {
    background: rgb(245,245,245);
}
html {overflow:-moz-scrollbars-vertical;}
html {min-height:101%;}
