body,html{
    font-family:'Microsoft YaHei','Hiragino Sans GB',Helvetica,Arial,'Lucida Grande',sans-serif;
}
.logo{
    height:50px;
    width:auto;
    margin-top: 0;
}

nav li{
    margin-left: 30px;
}

.login{
    position: relative;
    float: right;
}
.weather{
    margin:15px;
    color: red;
    word-spacing: 5px;
}

.user-info{
    margin:15px;
    color: black;
    word-spacing: 5px;
}

.content{
    padding-top:100px;
}
.food_pic{
    height:100px;
    width:auto;
    margin: 10px;
}
.comment{
    margin-top:80px;
    margin-right:0;
}
.menu_title{
    width:900px;
    margin-left:auto;
    margin-right:auto;
}
.menu_items{
    margin-top:20px;
}

.tc-usr, .tc-content{
    margin: 15px;
    font-size: 15px;
    color: black;
}
.tc-time{
    margin: 15px;
    font-size: 10px;
    color: gray;
}

.tc-input{
    min-height: 120px;

}
